@import url(http://fonts.googleapis.com/css?family=Share+Tech|Syncopate|Roboto:400,700,900,700italic,500);
/* Empty. Add your own CSS if you like */
svg {
  font-family: 'Roboto', sans-serif;
  color: gray;
}

.x.axis line {
  stroke: slategray;
}

.y.axis line {
  stroke: slategray;
}

.line {
  fill: none;
  stroke: forestgreen;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

.circleBase {
  border-radius: 50%;
  background-color: slategray;
  color: white;
  margin: auto;  
}

.small {
  width: 80px;
  height: 80px;
  background: none;
  font-size: 25px;
  border: 3px solid white;
}

.medium {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: slategray;
  border: 3px solid slategray;
}

.power-medium {
  color: slategray;
  margin: auto;  
  margin-top: 50px;    
  font-family: 'Roboto', sans-serif;
  background: none;
  font-size: 80px;
}

.shadow {
  color: slategray;
  background-color: transparent;
  border-color: transparent;
}

.large{
  width: 200px;
  height: 200px;
  background: none;
  font-size: 60px;
  border: 3px solid white;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} 

.devices, .description {
  font-family: 'Roboto', sans-serif;
}

.description {
  color: gray;
}

.icon-medium {
  font-size: 70px;  
}

.dev-table {
  width: 100%;  
}

.background, .background .pane{
}

h1 { font-family: 'Roboto', sans-serif !important; color: white !important; }
.dashboard-item { font-family: 'Roboto', sans-serif; }
.dashboard-title { font-family: 'Syncopate', sans-serif; }

.header-bottom-bar {
  top: 0;
  border-top-width: 0;
}

.devices-list {
  left: 0;
  right: 0;
}

.form-settings {
  background-color: white;
}

#point::-webkit-input-placeholder {
   font-weight: bold;
}

#point:-moz-placeholder { /* Firefox 18- */
   font-weight: bold;
}

#point::-moz-placeholder {  /* Firefox 19+ */
   font-weight: bold;
}

#point:-ms-input-placeholder {  
   font-weight: bold;
}

#desc::-webkit-input-placeholder {
   font-style: italic;
}

#desc:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

#desc::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

#desc:-ms-input-placeholder {  
   font-style: italic;
}