<ion-view title="Log">
  <ion-content style="background-color:beige">    
    <div class="list">
      <div class="item item-divider dashboard-item" style="background-color: beige; color:slategray"> 
        Power
      </div>        
      <div class="item item-divider dashboard-item" style="background-color: beige; color:slategray"> 
        Voltage
      </div>  
      <div class="item item-divider dashboard-item" style="background-color: beige; color:slategray"> 
        Current
      </div>      
      <div class="item item-divider dashboard-item" style="background-color: beige; color:slategray"> 
        Temperature
      </div>   
      <div class="item item-divider dashboard-item" style="background-color: beige; color:slategray"> 
        Humidity
      </div>         
    </div>
  </ion-content>
</ion-view>
