<div class="modal">
  <ion-header-bar class="header-bottom-bar">
    <h1 class="title">Scheduling</h1>
    <div class="buttons">
      <button class="button icon ion-close-round" ng-click="closeSchedule()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="dashboard-item">
    <div class="list">
      <div class="item item-divider"> 
        Set Time
      </div>
      <div style="schedule-center">
        <ui-clockpicker hour="time.hour" minute="time.minute" period="time.period">
        </ui-clockpicker>
      </div>      
      <div class="item item-divider"> 
        Set Days
      </div>
      <ion-checkbox ng-model="isMon">Mon</ion-checkbox>
      <ion-checkbox ng-model="isTue">Tue</ion-checkbox>
      <ion-checkbox ng-model="isWed">Wed</ion-checkbox>
      <ion-checkbox ng-model="isThu">Thu</ion-checkbox>
      <ion-checkbox ng-model="isFri">Fri</ion-checkbox>
      <ion-checkbox ng-model="isSat">Sat</ion-checkbox>
      <ion-checkbox ng-model="isSun">Sun</ion-checkbox>
    </div>
  </ion-content>
</div>

