<div class="modal-header">
  <h3 class="modal-title">Suplai Listrik {{ item.name }}</h3>
</div>
<div class="modal-body" style="text-align:center">
  Pengendalian langsung<br><toggle-switch ng-model="item.status" style="margin-top:5px"></toggle-switch><hr>
  <h3>Histori penggunaan</h3>
  <nvd3-multi-bar-chart data="detailData" id="detailId" xAxisTickFormat="xAxisTickFormatFunction()" height="350" showXAxis="true" showYAxis="true" showLegend="true">
    <svg></svg>
  </nvd3-multi-bar-chart>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>