<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">                   
            Dashboard
        </h1>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.widget-row -->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-2">
                <i class="fa fa-lightbulb-o fa-3x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <div class="huge">{{ widgetval.energy }}</div>
                <div>Energi listrik digunakan</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Lihat detil</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-2">
                <i class="fa fa-flash fa-3x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <div class="huge">{{ widgetval.voltage }}</div>
                <div>{{ widgetval.voltdesc }}</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Lihat detil</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-2">
                <i class="fa fa-user fa-3x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <div class="huge">{{ widgetval.active }} dari {{ widgetval.inactive + widgetval.active }}</div>
                <div>Suplai listrik aktif</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Lihat detil</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    <div class="row">
      <!-- /.info-col -->
      <div class="col-lg-5 col-md-12 connectedSortable">        
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Informasi Bangunan 
            <div class="pull-right">                            
            </div>
          </div><!-- /.panel-header -->
          <div class="panel-body no-padding">
            <div class="row">
              <!-- /.info-key-col -->
              <div class="col-lg-7 col-md-7 connectedSortable">
                Nama<br>
                Lokasi<br>
                Suplai listrik terkendali<br>
                Konsumsi listrik per bulan<br>
                Konsumsi listrik per hari<br>
                Waktu konsumsi aktif<br>
              </div>
              <div class="col-lg-5 col-md-5 connectedSortable">
                : {{ info.name }}<br>
                : {{ info.location }}<br>
                : {{ info.supply }}<br>
                : {{ info.daily }} kWh<br>        
                : {{ info.monthly }} kWh<br>
                : {{ info.hour }} PM<br>
              </div>   
            </div><hr>
            <leaflet center="map" markers="marker" height="250px" width="100%">
            </leaflet>          
          </div><!-- /.panel-body -->
        </div><!-- /.panel-env-map -->
      </div><!-- /.col-env-map -->

      <!-- /.graph-col -->
      <div class="col-lg-7 col-md-12 connectedSortable">
        <!-- graph -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Histori Penggunaan
            <div class="pull-right">
            </div>            
          </div><!-- /.panel-header -->
          <div class="panel-body">
            <h4>Konsumsi Listrik</h4>            
              <nvd3-line-chart data="consumptionData" id="consumptionId" xAxisTickFormat="xAxisTickFormatFunction()" yAxisTickFormat="yAxisTickFormatFunction()" width="550" height="350" showXAxis="true" showYAxis="true" interpolate="basis" isArea="true">
                <svg></svg>
              </nvd3-line-chart>
            <hr>
            <h4>Suplai Listrik</h4>
              <nvd3-multi-bar-chart xAxisTickFormat="xAxisTickFormatFunction()" data="supplyData" id="supplyId" width="550" height="350" showXAxis="true" showYAxis="true">
                <svg></svg>
              </nvd3-multi-bar-chart>
          </div>
        </div><!-- /.panel-graph -->
      </div><!-- /.col-graph -->
    </div> <!-- /.row-env -->
</div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->  
