<div id="wrapper">

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Kendali Suplai Listrik </h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.widget-row -->
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-2">
                <i class="fa fa-gear fa-spin fa-3x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <div class="huge">{{ widgetval.active }}</div>
                <div>Suplai listrik aktif</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary ">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-2">
                <i class="fa fa-gear fa-3x"></i>
              </div>
              <div class="col-xs-10 text-right">
                <div class="huge">{{ widgetval.inactive }}</div>
                <div>Suplai listrik inaktif</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- /.widget-row -->

    <!-- /.usage-row -->
    <div class="row">
      <!-- /.usage-col -->
      <div class="col-lg-12 col-md-12 connectedSortable">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-th fa-fw"></i> Target Suplai Listrik 
            <div class="pull-right">
            </div>
          </div><!-- /.panel-header -->
          <div class="panel-body no-padding" style="background-color:gainsboro">
            <div class="masonry-container">
              <div style="text-align:center; margin-bottom: 10px">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                    <div class="glyphicon glyphicon-search"></div>
                  </span>
                  <input type="text" class="form-control input-lg" style="height:67px" placeholder="Cari jalur suplai..." ng-model="search">
                </div>
              </div>
              <div masonry="{ gutter: 10 }" style="margin: 0px auto">
                <div class="masonry-brick" ng-class="{true:'brick-on', false:'brick-off'}[item.status]" ng-repeat="item in filteredItems = ( items | filter:search)">
                  <div id="stitch-container">
                    <h3> {{ item.name }}</h3>
                  </div>
                  <div class="item-data">
                    <i class="fa fa-gear fa-3x" ng-class="{true:'fa-spin', false:''}[item.status]"></i>
                  </div>
                  <button class="item-option btn btn-default" ng-click="open($index)">Lihat Detil</button> 
                </div>
              </div>
            </div>
          </div><!-- /.panel-body -->
        </div><!-- /.panel-usage -->
      </div><!-- /.usage-col -->
    </div> <!-- /.row-usage -->

  </div>
  <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->