/* Empty. Add your own CSS if you like */
svg {
  font: 10px sans-serif;
}

.x.axis line {
  stroke: #fff;
}

.y.axis line {
  stroke: #fff;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.circleBase {
  border-radius: 50%;
  color: slategray;
  margin: auto;  
  font-family: Roboto;
}

.schedule-center {
  margin: auto;
}

.description {
  font-family: Roboto;
}

.small {
  width: 80px;
  height: 80px;
  background: none;
  font-size: 25px;
  border: 3px solid white;
}

.medium {
  width: 70px;
  height: 70px;
  background: none;
  font-size: 40px;
  border: 3px solid slategray;
}

.power-medium {
  color: slategray;
  margin: auto;  
  font-family: Roboto;  
  background: none;
  font-size: 20px;
}

.large{
  width: 200px;
  height: 200px;
  background: none;
  font-size: 60px;
  border: 3px solid white;
}

.element {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
} 

.devices {
  font-family: Roboto;
}

.icon-medium {
  font-size: 70px;  
}

.dev-table {
  width: 100%;  
}

.background, .background .pane{
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
